[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/mock-contracts"]
	path = lib/mock-contracts
	url = https://github.com/buttonwood-protocol/mock-contracts
[submodule "lib/buttonswap-core"]
	path = lib/buttonswap-core
	url = https://github.com/buttonwood-protocol/buttonswap-core
[submodule "lib/solidity-lib"]
	path = lib/solidity-lib
	url = https://github.com/Uniswap/solidity-lib
	branch = v2.1.0
